/*Compositefield*/
body .right form div.CompositeField.multilingualfield {
	margin-left:0px;
}
body .right form div.CompositeField.multilingualfield label.left {
	margin-left:0px;
	width:auto;
}

.marked-label{
	margin-left:5px;
	min-width: 35px;
	display:inline-block;
}
.marked-label img{
	float:left;
	height: 15px;
}
.marked-label .highlight{
	background:#111;
	color:#eee;
	padding:1px;
}
.marked-label .language-nice{
	background:transparent;
	color:#666;
	padding:1px;
	opacity: 0.1;
	
}
.marked-label:hover .language-nice{
	-webkit-transition: all 0.3s ease-in-out;
	-mozilla-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 1;
	background:#111;
	color:#eee;
}

.field.hiddenfield{
	display:none;
}


/*
Language selector in admin
*/
#TopLangSelectorDropdown{
	float:right;
	clear:none;
}



/*
Language link list in admin
*/
#TopLangSelector{
	position: absolute;
	right: 0px;
	z-index: 99;
}


/*LANGUAGES & FLAGS*/
.langflags {
	float:right;
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.langflags li{
	float:left;	
	
}
.langflags li a{
	float:left;
	padding:1px;	
	margin:0px;
}
.langflags li a img{
	margin:0px;
	padding:0px 1px;	
	opacity:0.3;
	background: #fff;
	border:1px solid #aaa;
	border-top-color: #ccc;
	border-bottom-color: #999;
	box-shadow:0 1px 2px #ccc;
	-moz-box-shadow:0 1px 2px #ccc;
	-webkit-box-shadow:0 1px 2px #ccc;
	
}
.langflags li a:hover,
.langflags li a.selected{
	background: transparent;
}
.langflags li a:hover img,
.langflags li a.selected img{
	opacity:1;
	
}